@import './base.css';

h1 {
  font-size: 6rem;
  padding: 3rem 0;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.5rem;
  padding: 3%;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #555;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) {
}
